/*
Copyright 2014 Patrick Borgeest

This file is part of HPM.

HPM is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

HPM is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with HPM.  If not, see <http://www.gnu.org/licenses/>.
*/

body {
        color:#333;
        background-color:#6E2010;   
        margin:20px;
        padding:0px;
        font:11px verdana, arial, helvetica, sans-serif;
        }
h1 {
        margin:0px 0px 15px 0px;
        padding:0px;
        font-size:28px;
        font-weight:900;
        color:#ccc;
        }
h2 {
        color:#FFF9D0;
        font:bold 14px/14px verdana, arial, helvetica, sans-serif;
        margin:0px 0px 5px 0px;
        padding:0px;
        }
h3 {
        color:#EDE5A9;
        font:bold 12px/14px verdana, arial, helvetica, sans-serif;
        margin:5px 0px 5px 0px;
        padding:0px;
        }
p {
        font:11px/16px verdana, arial, helvetica, sans-serif;
        margin:0px 0px 16px 0px;
        padding:0px;
        }
a {
        color:#09c;
        font-size:11px;
        font-family:verdana, arial, helvetica, sans-serif;
        font-weight:600;
        text-decoration:none;
        }

a:link {color:#E7B27A;} 
a:visited {color:#E7B27A;}      
a:hover {color:#8E301C;}        


#navAlpha {
        border:1px solid black;
        background-color:#5C5738;   
        padding:10px;
        z-index:2;
}

#navBeta {
        border:1px solid black;
        background-color:#5C5738;   
        padding:10px;
        z-index:1;
}

.content {
        border:1px solid black;
        background-color:#5C5738;   
        padding:10px;
        z-index:3; 
}

.content>p {margin:0px;}

dd, dd>p { 
	margin-top: 0px;
	margin-bottom: 0px;
}

@media screen and (max-width: 800px) {
	.content>p+p { text-indent:15px; }
	dd, dd>p { margin-left: 15px; }
}
@media screen and (min-width: 800px) {
	.content>p+p {text-indent:30px;}
}
@media screen and (max-width: 700px) {
	.content, #navAlpha, #navBeta { margin-top: 20px; }
}
@media screen and (min-width: 700px) {
	.content {
		margin:0px 210px 20px 170px;
		position:relative; 
		width:auto;
		min-width:120px;
	}
	#navAlpha {
		position:fixed;
		top:20px;
		left:20px;
		width:128px;
	}
	#navBeta {
		position:fixed;
		width:190px;
		top:20px;
		right:20px;
		width:168px;
	}
}
